//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Helvetica, sans-serif;
}

header{
    background-color: darkblue;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        color: white;
        text-decoration: none;
        padding: .5rem 2rem;
    }
}

.btn{
    background-color: lightblue;
    box-shadow: 10px 16px 30px -2px rgba(0,0,0,0.62);
    color: black;
    text-decoration: none;
    padding: .5rem 2rem;
}

.card-container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 2rem;
        a{
            color: black;
            text-decoration: none;
        }
    }
}

.comic-container{
    width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    img{
        height: 100%;
        margin-right: 3rem;
    }
    .comic-text{
        h2{
            margin-bottom: 2rem;
        }
        p{
            line-height: 1.5rem;
        }
    }
}

.container{
    width: 1000px;
    margin: auto;
    .input-container{
        height: 50vh;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        div{
            flex-direction: column;
            display: flex;
            align-items: center;

        }
        input{
            width: 80%;
            padding: .6rem;
            font-size: 1.5rem;
        }
        textarea{
            width: 80%;
        }
    }
    form{
        text-align: center;
        button{
            border: 1.5px solid rgb(68, 176, 212) ;
        }
    }
}


footer{
    background-color: darkblue;
    color: white;
}
