* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
}

.btn {
  background-color: white;
  box-shadow: 10px 16px 30px -2px rgba(0, 0, 0, 0.62);
  color: darkred;
  border: 1px solid darkred;
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-edit {
  background-color: darkred;
}

.btn-destroy {
  background-color: black;
}

button:hover {
  cursor: pointer;
}

.alert {
  color: red;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup .message {
  height: 150px;
  width: 300px;
  background-color: lightcoral;
  border-radius: 1rem;
}

.popup .message p {
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.popup .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup .btn-container .btn {
  border: 1px solid darkred;
  color: darkred;
  background-color: white;
  box-shadow: none;
  width: 40%;
  margin: 0.3rem;
  padding: 0.4rem 0.2rem;
  text-align: center;
  vertical-align: middle;
}

.popup .btn-container .btn:nth-child(4) {
  background-color: #000000;
  color: white;
}

.hidden {
  display: none;
}

header {
  height: 5rem;
  color: darkred;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 10;
}

header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}

header a {
  color: darkred;
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.card-container {
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  margin: 2rem;
}

.card-container .card a {
  color: black;
  text-decoration: none;
}

.card-container .card a img {
  width: 100%;
  transition: 0.5s;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.card-container .card a img:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 26px 15px -10px rgba(0, 0, 0, 0.88);
}

.card-container .btn-container {
  display: flex;
  justify-content: center;
}

.card-container .btn-container .btn {
  color: darkred;
  background-color: white;
  border: 1px solid darkred;
  box-shadow: none;
  width: 50%;
  padding: 0.4rem 0.2rem;
  text-align: center;
  vertical-align: middle;
}

.comic-container {
  width: 800px;
  height: calc(100vh - 22rem);
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}

.comic-container img {
  height: 70%;
  margin-right: 3rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  box-shadow: 0px 26px 15px -10px rgba(0, 0, 0, 0.88);
}

.comic-container .comic-text h2 {
  margin-bottom: 2rem;
  padding-top: 4rem;
}

.comic-container .comic-text p {
  line-height: 1.5rem;
}

.comic-container .btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comic-container .btn-container .btn {
  border: 1px solid darkred;
  color: darkred;
  background-color: white;
  box-shadow: none;
  margin: 0.3rem;
  padding: 0.4rem 0.2rem;
  text-align: center;
  vertical-align: middle;
}

.comic-container .btn-container .btn:nth-child(2) {
  background-color: #000000;
  color: white;
}

.container {
  width: 1000px;
  height: calc(100vh - 22rem);
  margin: auto;
}

.container .input-container {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.container .input-container div {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container .input-container input {
  width: 80%;
  padding: 0.6rem;
  font-size: 1.5rem;
}

.container .input-container textarea {
  width: 80%;
}

.container form {
  height: 70%;
  text-align: center;
}

.container .btn-container {
  display: flex;
  justify-content: center;
}

.container .btn-container .btn {
  border: 1px solid darkred;
  color: darkred;
  background-color: white;
  box-shadow: none;
  margin: 0.3rem;
  padding: 0.4rem 0.2rem;
  text-align: center;
  vertical-align: middle;
}

footer {
  height: 14rem;
  overflow-y: hidden;
  color: white;
}

footer .footer-container {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 50px 29px rgba(0, 0, 0, 0.8);
  width: 1000px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .list {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container ul h3 {
  padding-bottom: 1rem;
}

footer .footer-container .images {
  align-self: flex-end;
}

footer .footer-container .images img {
  width: 100px;
}

